<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Reddit Viewer
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>Category</ion-label>
      <ion-select (ionChange)="changeCategory()" [(ngModel)]="category" name="category">
        <ion-option value="machinelearning">Machine Learning</ion-option>
        <ion-option value="earthporn">Earth Porn</ion-option>
        <ion-option value="bitcoin">Bitcoin</ion-option>
        <ion-option value="ethereum">Ethereum</ion-option>
        <ion-option value="internetisbeautiful">Internet is Beautiful</ion-option>
        <ion-option value="gonewild">NSFW</ion-option>
        <ion-option value="milf">NSFW2</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-card *ngFor="let item of items" item-center>
    <ion-card-content>
      <ion-card-title align-title="right">
        {{item.data.title}}
      </ion-card-title>
    </ion-card-content>
    <div *ngIf="item.data.preview">
      <img *ngIf="item.data.preview.images[0].source" src="{{item.data.preview.images[0].source.url.replace('amp;', '')}}"/>
      <img *ngIf="item.data.preview.images[0].variants.gif" src="{{item.data.preview.images[0].variants.gif.source.url}}"/>
    </div>
    <ion-item>
        <ion-icon name="person" item-left></ion-icon>
        Redditor
        <ion-note item-right>
          {{item.data.author}}
        </ion-note>
    </ion-item>
    <button ion-button clear item-right (click)="viewItem(item.data)">View</button>
    <ion-item item-left>
      <a ion-button block target="_blank" href="{{item.data.url}}">Go directly there!</a>
    </ion-item>  </ion-card>
</ion-content>
